<b:beans xmlns="http://www.springframework.org/schema/security"
		xmlns:b="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http security="none" pattern="/resources/**"/>
	
	<http auto-config="true" use-expressions="true">

            <form-login login-page="/SignIn" 
		default-target-url="/LoginForm"
		login-processing-url="/j_spring_security_check"
		authentication-failure-url="/SignIn?error=true" 
		username-parameter="EMAIL"
		password-parameter="PASSWORD"/>
		
		<access-denied-handler error-page="/error"/>
				
		<logout logout-success-url="/SignIn" invalidate-session="true" logout-url="/j_spring_security_logout" />
		
		<csrf/>
        <remember-me key="uniqueAndSecret"/>
	</http>
	

	
	<b:import resource="spring-mvc-servlet.xml" />

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="myDataSource"
				users-by-username-query="select EMAIL,PASSWORD,ENABLED FROM Users WHERE EMAIL=?"
                                authorities-by-username-query="select EMAIL, AUTHORITY 
                                 from Authorities WHERE EMAIL=?" />
		</authentication-provider>
	</authentication-manager>
	
</b:beans>
